{{#toolbar}}
    <div class="pull-right">
        <div class="views-dropdown toolbar-item" style="display: inline-block;"></div>
        {{#button 'toolbar' data-action='settings'}}
            {{icon 'settings' (lz 'label.global_settings')}}
        {{/button}}
    </div>
{{/toolbar}}